.how-to-play-container {
  /* font-family: Arial, sans-serif; */
  line-height: 1.6;
  /* background-color: #f4f4f4; */
  color: #333;
  /* padding: 20px; */
  max-width: 1200px;
  margin: 0 auto; /* Center the content */
}

/* Header Styling */

.how-to-play-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.how-to-play-description {
  font-size: 1.1rem;
}

/* Instructions Section */
.how-to-play-instructions {
  background-color: #ecf0f1;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}

.how-to-play-instructions-title {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center; /* Align text to the left */
}

.how-to-play-list {
  list-style-type: decimal;
  padding-left: 0px;
  text-align: left; /* Align list text to the left */
}

.how-to-play-list-item {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .how-to-play-container {
    padding: 15px;
  }

  .how-to-play-title {
    font-size: 2rem;
  }

  .how-to-play-description {
    font-size: 1rem;
  }

  .how-to-play-instructions-title {
    font-size: 1.2rem;
  }

  .how-to-play-list-item {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .how-to-play-title {
    font-size: 1.5rem;
  }

  .how-to-play-description {
    font-size: 0.9rem;
  }

  .how-to-play-instructions-title {
    font-size: 1.1rem;
  }

  .how-to-play-list-item {
    font-size: 0.9rem;
  }
}
