.delete-modal-overlay1 {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Container */
.delete-modal-container1 {
  background: white;
  border-top: 30px solid var(--Root-color);
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  animation: delete-modal-fadeIn 0.3s ease-in-out;
  position: relative;
}

/* Modal Title */
.delete-modal-title1 {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: -23px;
  left: 34%;
}

/* Modal Message */
.delete-modal-message1 {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

/* Buttons */
.delete-modal-buttons1 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.delete-btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
  background-color: var(--Root-color);
}

/* Cancel Button */
.cancel-btn1 {
  background: #ccc;
  color: #333;
}

.cancel-btn1:hover {
  background: #bbb;
}

/* Confirm Delete Button */
.confirm-btn1 {
  background: var(--Root-color);
  color: white;
  border-radius: 20px;
  padding: 5px 30px;
  font-size: 13px;
  font-weight: 100;
}

.confirm-btn1:hover {
  background: #1c98b7;
}

/* Fade-in animation */
@keyframes delete-modal-fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.list-item {
  font-size: 10px;
  text-align: left;
  display: flex;
  margin-bottom: -20px;
  align-items: center;
  font-weight: bold;
}
