/* src/NotificationList.css */

/* General styles for the notification list */
.notification-list {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  list-style-type: none;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.notificationheading {
  text-align: center;
  font-size: 15px;
  color: var(--Root-color);
  margin-bottom: 15px;
}
.notification {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 12px;
  color: #333;
  background-color: #e0e0e0; /* Light grey background for all notifications */
  transition: all 0.3s ease;
}
/* Style for the "No Notifications" message */
.no-notifications {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: #000;
  /* background-color: #f0f0f0; Light grey background */
  border-radius: 5px;
}

/* Optional: Add hover effects */
.notification:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
