@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./extra.css");

/*========================
  1.2  Variable CSS start
==========================*/
/* font family */

/* color variables */
:root {
  --theme-color: 39, 119, 252;
  --title-color: 32, 35, 38;
  --content-color: 153, 153, 153;
  --secondary-color: 255, 224, 11;
  --box-bg: 238, 246, 255;
  --border-color: 238, 238, 238;
  --error-color: 255, 57, 57;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --Root-color: #237f8a;
  font-family: "Urbanist", "serif" !important;
}

.primary-color {
  color: var(--Root-color) !important;
}
.primary-button {
  background-color: var(--Root-color) !important;
  color: white !important;
  border-radius: 2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  outline: none;
  /* position: absolute; */
  /* bottom: 90px; */
  /* margin-left: 10px; */
  margin-top: 80px;
  width: 96%;
  /* left: 2%; */
}

.secondary-button {
  background-color: var(--Root-color) !important;
  color: white !important;
  border-radius: 2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  outline: none;
  /* position: absolute; */
  /* bottom: 90px; */
  margin-left: 10px;
  /* margin-top: 80px; */
  width: 96%;
  left: 2%;
}

.empty-color-button {
  background-color: #fff !important;
  border: 2px solid var(--Root-color) !important;
  color: var(--Root-color) !important;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  outline: none;
}

.fs-15 {
  font-size: 15px !important;
}
.fs-13 {
  font-size: 13px !important;
}

.theme-color {
  background-color: var(--Root-color) !important ;
  color: rgb(58, 12, 12) !important;
}

/* base scss files */
/*=====================
  Reset CSS start
==========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #000000; */
}

a {
  cursor: pointer;
}

.custom-container {
  width: 100%;
  padding: 0 calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
}

.content-color {
  color: rgba(var(--content-color), 1) !important;
}

.custom-border-radius {
  border-radius: 40px !important;
}

/********************** 
  Typography css 
***********************/
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: rgba(var(--title-color), 1);
  background-color: rgba(var(--white), 1);
  font-weight: 400;
}
body::-webkit-scrollbar {
  scrollbar-width: none;
  scrollbar-color: rgba(var(--title-color), 1);
  width: 1px;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--title-color), 1);
  border-radius: 0px;
  border: 3px solid #ffffff;
}
body:has(.bottom-menu) {
  margin-bottom: 86px;
}
body:has(.loader-wrapper) {
  overflow: hidden;
}
body:has(.loader-wrapper.hidden) {
  overflow: auto;
}

/********************** 
  modal css start
***********************/
.modal .modal-content {
  background-color: rgba(var(--white), 1);
  border: 2px solid var(--Root-color) !important;
}
.modal .modal-content .modal-header .btn-close:focus {
  box-shadow: none;
}
body.dark .modal .modal-content .modal-header .btn-close {
  filter: invert(1) brightness(1);
}

.modal-header,
.modal-title {
  background-color: var(--Root-color) !important;
  color: white !important;
  text-align: center !important;
}

.center-modal {
  justify-content: center !important;
  /* font-size: ; */
}
.modal.filter-modal {
  background-color: rgba(var(--white), 1);
}
.modal.filter-modal .modal-header {
  border-bottom: 1px solid rgba(var(--border-color), 1) !important;
}
.modal.filter-modal .modal-header .btn-close {
  position: absolute;
  right: 25px;
  padding: 0;
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: 14px;
}
[dir="rtl"] .modal.filter-modal .modal-header .btn-close {
  left: 25px;
  right: unset;
}
body.dark .modal.filter-modal .modal-header .btn-close {
  filter: invert(1) brightness(1);
}
.modal.filter-modal .modal-footer {
  padding-block: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  border-top: 1px solid rgba(var(--border-color), 1);
  box-shadow: 0px -3px 12px 0px rgba(39, 119, 252, 0.05);
}

/********************** 
  offcanvas css start
***********************/
.offcanvas {
  height: auto !important;
  padding: 20px;
  background-color: rgba(var(--white), 1);
  border-radius: 20px 20px 0 0;
}
.offcanvas .offcanvas-header {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--border-color), 1);
}
.offcanvas .offcanvas-header h3 {
  color: rgba(var(--title-color), 1);
}
.offcanvas .offcanvas-header h5 {
  color: rgba(var(--title-color), 1);
}
.offcanvas .offcanvas-header .btn-close {
  position: absolute;
  right: 25px;
  padding: 0;
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: 14px;
}
[dir="rtl"] .offcanvas .offcanvas-header .btn-close {
  left: 25px;
  right: unset;
}
body.dark .offcanvas .offcanvas-header .btn-close {
  filter: invert(1) brightness(1);
}
.offcanvas .offcanvas-header .btn-close:focus {
  box-shadow: none;
}
.offcanvas .offcanvas-body {
  padding-top: 10px;
}
.offcanvas .offcanvas-foorter {
  box-shadow: 0px -3px 12px 0px rgba(var(--title-color), 0.05);
}
.offcanvas.addtohome-popup {
  height: auto;
  border-top: none;
  z-index: 3;
}
.offcanvas.addtohome-popup .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: none;
}
[dir="rtl"] .offcanvas.addtohome-popup .btn-close {
  left: 20px;
  right: unset;
}
body.dark .offcanvas.addtohome-popup .btn-close {
  filter: invert(1) brightness(1);
}
.offcanvas.addtohome-popup .offcanvas-body {
  text-align: right;
  background-color: rgba(var(--white), 1);
  padding: 15px;
}
[dir="rtl"] .offcanvas.addtohome-popup .offcanvas-body {
  text-align: left;
}
.offcanvas.addtohome-popup .offcanvas-body .app-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  text-align: left;
}
[dir="rtl"] .offcanvas.addtohome-popup .offcanvas-body .app-info {
  text-align: right;
}
.offcanvas.addtohome-popup .offcanvas-body .app-info .content {
  padding-left: 15px;
}
[dir="rtl"] .offcanvas.addtohome-popup .offcanvas-body .app-info .content {
  padding-left: 0;
  padding-right: 15px;
}
.offcanvas.addtohome-popup .offcanvas-body .app-info .content h3 {
  font-weight: 600;
  color: rgba(var(--title-color), 1);
}
.offcanvas.addtohome-popup .offcanvas-body .app-info .content h4 {
  font-weight: 600;
  color: rgba(var(--title-color), 1);
}
.offcanvas.addtohome-popup .offcanvas-body .app-info .content a {
  color: rgba(var(--content-color), 1);
}
.offcanvas.addtohome-popup .offcanvas-body .home-screen-btn {
  display: inline-block;
}
.offcanvas.filter-offcanvas {
  padding: 20px;
  background-color: rgba(var(--white), 1);
  border-radius: 20px 20px 0 0;
}
.offcanvas.filter-offcanvas .offcanvas-header {
  padding-top: 0;
  padding-inline: 0;
  border-bottom: 1px solid rgba(var(--border-color), 1);
}
.offcanvas.filter-offcanvas .offcanvas-body {
  padding-inline: 0;
  padding-bottom: 0;
}
.offcanvas.review-offcanvas .offcanvas-body {
  padding-bottom: 90px;
}
.offcanvas.success-offcanvas .btn-close {
  position: absolute;
  right: 25px;
  padding: 0;
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: 14px;
}
[dir="rtl"] .offcanvas.success-offcanvas .btn-close {
  left: 25px;
  right: unset;
}
body.dark .offcanvas.success-offcanvas .btn-close {
  filter: invert(1) brightness(1);
}
.offcanvas.success-offcanvas .btn-close:focus {
  box-shadow: none;
}
.offcanvas.success-offcanvas .offcanvas-body h3 {
  color: rgba(var(--title-color), 1);
}
.offcanvas.success-offcanvas .offcanvas-body p {
  font-size: 16px;
  margin-top: 5px;
  color: rgba(var(--content-color), 1);
}
.offcanvas.success-offcanvas .offcanvas-body .success-rating-icon {
  width: 120px;
}
.offcanvas.sidebar-offcanvas {
  width: 280px !important;
  padding: 0;
  background-color: rgba(var(--white), 1);
  border-radius: 0 20px 20px 0;
}
[dir="rtl"] .offcanvas.sidebar-offcanvas {
  border-radius: 20px 0 0 20px;
}
.offcanvas.sidebar-offcanvas.show {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  visibility: visible;
}
.offcanvas.sidebar-offcanvas .offcanvas-header {
  padding: 30px 20px;
  /* background-color: var(--Root-color); */
  border-bottom: none;
  border-radius: 0 20px 0 0;
}
[dir="rtl"] .offcanvas.sidebar-offcanvas .offcanvas-header {
  border-radius: 20px 0 0 0;
}
.offcanvas.sidebar-offcanvas .offcanvas-header .sidebar-logo {
  /* margin: 0 auto; */
}
.offcanvas.sidebar-offcanvas .offcanvas-header .sidebar-logo .logo {
  display: block;
  /* width: 100px; */
}
.offcanvas.sidebar-offcanvas .offcanvas-header .sidebar-logo .logo-dark {
  display: none;
}
.offcanvas.sidebar-offcanvas .offcanvas-body {
  padding: 0;
}
.offcanvas.sidebar-offcanvas .offcanvas-body .profile-part {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-bottom: 1px solid rgba(var(--border-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .profile-part .profile-pic {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
}
.offcanvas.sidebar-offcanvas .offcanvas-body .profile-part h3 {
  font-size: 18px;
  color: rgba(var(--title-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .profile-part span {
  font-size: 13px;
  font-weight: 500;
  color: rgba(var(--content-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .link-section {
  padding: 15px 20px 80px 20px;
}
.offcanvas.sidebar-offcanvas .offcanvas-body .link-section li {
  display: block;
}
.offcanvas.sidebar-offcanvas .offcanvas-body .link-section li:last-child() {
  display: none;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .link-section
  li.active
  .pages
  .sidebar-icon {
  --iconsax-Color: rgba(var(--theme-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .link-section li.active .pages h3 {
  color: rgba(var(--theme-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .link-section li .pages {
  display: flex;
  align-items: center;
  gap: 15px;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .link-section
  li
  .pages
  .sidebar-icon {
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: 20px;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .link-section
  li
  .pages
  .sidebar-icon.icon {
  width: 20px;
  height: 20px;
}
.offcanvas.sidebar-offcanvas .offcanvas-body .link-section li .pages h3 {
  font-size: 16px;
  margin-top: 4px;
  color: rgba(var(--title-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .link-section.switch-section li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .link-section.switch-section
  li:last-child {
  padding-bottom: 0;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .link-section.switch-section
  li
  h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(var(--title-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .bottom-sidebar {
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 279px;
  border-radius: 0 0 20px 0;
  display: flex;
  justify-content: center;
  background-color: rgba(var(--box-bg), 1);
}
[dir="rtl"] .offcanvas.sidebar-offcanvas .offcanvas-body .bottom-sidebar {
  border-radius: 0 0 0 20px;
}
.offcanvas.sidebar-offcanvas .offcanvas-body .bottom-sidebar .pages {
  display: flex;
  align-items: center;
  gap: 15px;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .bottom-sidebar
  .pages
  .sidebar-icon {
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: 25px;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .bottom-sidebar
  .pages
  .sidebar-icon.icon {
  width: 25px;
  height: 25px;
  filter: contrast(0);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .bottom-sidebar .pages h3 {
  color: rgba(var(--title-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .bottom-sidebar.active {
  background-color: rgba(var(--title-color), 0.1);
  border-radius: 8px;
}
.offcanvas.sidebar-offcanvas
  .offcanvas-body
  .bottom-sidebar.active
  .pages
  .sidebar-icon {
  --Iconsax-Color: rgba(var(--title-color), 1);
}
.offcanvas.sidebar-offcanvas .offcanvas-body .bottom-sidebar.active .pages h3 {
  font-weight: 600;
  color: rgba(var(--title-color), 1);
}

.header {
  padding: 5px 0 5px;
  display: flex;
  justify-content: space-between;
  background: url("../img/New2Wave.svg");
  /* opacity: 0.8; */
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw !important;
}
.header .head-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .head-content .sidebar-btn {
  width: calc(36px + (48 - 36) * ((100vw - 320px) / (1920 - 320)));
  height: calc(36px + (48 - 36) * ((100vw - 320px) / (1920 - 320)));
  background-color: rgba(var(--box-bg), 1);
  padding: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.header .head-content .sidebar-btn i {
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}
.header .head-content .header-location {
  display: inline-block;
  width: auto;
  background: none;
  padding: 0;
  line-height: 1;
}
.header .head-content .header-location h6 {
  font-weight: 400;
  color: rgba(var(--content-color), 1);
}
.header .head-content .header-location .location {
  width: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  height: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  -o-object-fit: cover;
  object-fit: cover;
}
.header .head-content .header-location .location-content {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.header .head-content .header-location .location-content h5 {
  font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1;
  margin-top: 4px;
  color: rgba(var(--title-color), 1);
}
.header .head-content .header-location .location-content .d-arrow {
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1;
}
.header .head-content a {
  width: calc(36px + (48 - 36) * ((100vw - 320px) / (1920 - 320)));
  height: calc(36px + (48 - 36) * ((100vw - 320px) / (1920 - 320)));
  /* background-color: rgba(var(--box-bg), 1); */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .head-content a .icon-btn {
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}
.header .head-content a .icon-btn.notification-icon {
  position: relative;
}
.header .head-content a .icon-btn.notification-icon::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(var(--theme-color), 1);
}
[dir="rtl"] .header .head-content a .icon-btn.notification-icon::after {
  right: unset;
  left: 1px;
}

.secure-payment-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px calc(30px + (42 - 30) * ((100vw - 320px) / (1920 - 320)));
  background-color: rgba(var(--border-color), 1);
}
.secure-payment-wrapper p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(var(--content-color), 1);
}

/*=====================
    navbar CSS start
==========================*/
.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  background-color: rgba(var(--white), 1);
  box-shadow: 0px -3px 12px 0px rgba(var(--theme-color), 0.05);
  z-index: 1;
}
.bottom-menu li {
  position: relative;
  width: 20%;
  display: block;
  text-align: center;
}
/* .bottom-menu li a .iconsax {
  --iconsax-Color: rgba(var(--title-color), 1);
  --iconsax-Size: 22px;
} */
.bottom-menu li a h6 {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(var(--title-color), 1);
}
.bottom-menu li a.active .text-content {
  --iconsax-Color: rgba(var(--theme-color), 1);
}
.bottom-menu li a.active h6 {
  font-weight: 600;
  color: rgba(var(--theme-color), 1);
}
.bottom-menu li a.active::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 40px;
  height: 4px;
  background: rgba(var(--theme-color), 1);
  border-radius: 10px;
  transform: translateX(-50%);
}
.bottom-menu li a.active::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 35px;
  background: linear-gradient(
    to bottom,
    rgba(var(--theme-color), 0.3) 0%,
    rgba(var(--theme-color), 0) 100%
  );
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.profile-wrapper {
  margin-top: -20px;
  padding: 16px;
  background-color: rgba(var(--white), 1);
  border-radius: 30px 30px 0 0;
}

/* ------------  my cutom css   ----------------*/

.footer-container {
  background: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  text-decoration: none;
  color: #666; /* Normal icon color */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.menu-item i {
  font-size: 18px;
}

/* Active Tab Styling */
.active {
  position: relative;
}

.active-item {
  color: white; /* Active icon color */
}

.active-icon-bg {
  background-color: var(--Root-color);
  color: white;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Hover Effect */
.menu-item:hover {
  color: #333;
}

.fa-bars-staggered {
  font-size: 23px !important;
  /* background: transparent !important; */
}

.sidebar-btn {
  background: none !important;
  color: white;
}

/* /-------------------------    fome */

.logo-img {
  width: 143px;
}

.Wallet-div {
  display: inline-block;

  background: white;
  height: 25px;
  width: 87px;
  border-radius: 13px;
}

.Wallet-main {
  display: flex;
  align-items: center;
}

.Wallet-main .fa-wallet {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.Wallet-main .t {
  font-size: 1rem;
}

.icons-font-size {
  font-size: 1.4rem;
  color: white;
}

.main-container {
  border: 1px solid;
  border-radius: 33px;
  width: 100%;
  padding: 0 calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
}

.name-font-size {
  font-size: 22px;
  color: var(--Root-color);
}

.contact-font-size {
  font-size: 15px;
}

.neviation-color {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-size: 17px;
  /* padding-left: 20px; */
}

.tab-container {
  border: 0.2px solid var(--Root-color);
  /* -webkit-box-shadow: 1px 1px 2px 0px var(--Root-color);
  -moz-box-shadow: 1px 1px 2px 0px var(--Root-color);
  box-shadow: 1px 1px 2px 0px var(--Root-color); */
  border-radius: 33px;
  width: 100%;
  padding: 0 calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  margin-top: 35px;
}

.react-tabs__tab-list {
  border: none !important;
  /* border-bottom: 1px solid #aaa; */
  margin: 0 0 10px;
  padding: 9px 11px !important;
}

.react-tabs__tab {
  border: none !important;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 7px 31px !important;
  cursor: pointer;
}

.react-tabs__tab--selected {
  color: white !important;
  /* border: 1px solid !important; */
  background-color: var(--Root-color) !important;
  outline: none;
  border-radius: 33px !important;
}

.maintitle {
  /* color: var(--Root-color) !important;/ */
  color: var(--Root-color);
  font-weight: bold;
  font-size: 0.8rem;
}
.maintitle1 {
  /* color: var(--Root-color) !important;/ */
  color: #000;
  font-weight: bold;
  font-size: 1.7rem;
}

.result-font {
  font-size: 0.8rem;
}

.play_icon_class,
.zoom-in-zoom-out {
  /* height: 40px;
  width: 40px; */
  /* max-width: 10px; */
}

.svg-size {
  height: 40px;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-in-zoom-out:hover {
  animation: zoom-in-zoom-out 2.5s ease-out infinite;
}

.verticle-line {
  border: 0.21px solid rgba(0, 0, 0, 0.175);
  margin: 3px 15px 0px 15px;
}

.game-timing-font-size {
  font-size: 0.6rem;
}

.react-tabs__tab-panel {
  /* height: 400px;
  overflow: scroll; */
}

.testimng {
  width: 100vw;
}

.secon-logo {
  width: 45%;
}

.decription {
  font-size: 1.2rem !important;
  text-align: justify;
}

.controls {
  width: 60px !important;
  height: 60px;
  margin: 0 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--Root-color);
}

.Resend-btn {
  text-align: center;
  margin-top: 15px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 96% !important;
  left: 2% !important;
  border-radius: 12px !important;
}

.maintitle {
  /* color: var(--Root-color); */
  /* margin-top: 1%; */
  /* font-weight: bolder; */
  /* margin-left: 2%; */
  /* font-size: 1.8rem; */
  /* color: #000000 !important; */
}

.subtext {
  font-size: 1.7rem;
  margin-left: 2%;
}

.description {
  font-size: 1.11rem;
  /* margin-left: 26px; */
  /* font-weight: bold; */
  margin-left: 2%;
  font-weight: normal !important;
}
.nodatafoundtext {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.description1 {
  font-size: 0.8rem;
  /* margin-left: 26px; */
  /* font-weight: bold; */
  margin-left: 2%;
  font-weight: normal !important;
}

.test-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
}

.card-inside {
  padding: 10px;
}
.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-text {
  color: var(--Root-color);
}

.bgr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 227, 227);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icon-size {
  font-size: 1.3rem;
  color: var(--Root-color);
}

.forOpen {
  color: #11305c;
}
.forClose {
  color: #4bb543;
}

/* ----------new container css   -------  */

.Image-Container {
  height: 7vh;
  background-position: center center;
  background-size: cover;
  background: url("../img/New2Wave.svg");
}

.fund-input-control {
  display: block;
  width: 60%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  appearance: none;
  border: none; /* Pura border remove */
  border-bottom: 2px solid black; /* Sirf bottom border rakha */
  outline: none; /* Focus pe outline remove */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* ------- manual deposite -------------  */

.upload-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 260px;
  border: 2px dashed gray;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.test {
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 2px solid var(--Root-color) !important;
}

.uploadPreview {
  position: absolute;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
}

.upload-icon {
  position: absolute;
  bottom: 90px;
  right: 115px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.upload-preview-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fa-copy {
  font-size: 26px;
}

/* -------formik form ---- */

.error-text {
  font-size: 12px;
  margin-left: 12px;
}

.test-form {
  /* width: 90%; */
}

/* ---------------  chat support ------------------ */
.chat-container {
  max-width: 500px;
  margin: auto;
  height: 74.7vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  /* border-radius: 10px; */
  overflow: hidden;
}
.chat-header {
  background-color: #00796b;
  color: white;
  padding: 10px;
  text-align: center;
}
.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: white;
}

.message {
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.received {
  background-color: #f1f1f1;
  align-self: flex-start;
}
/* .sent {
  background-color: #00796b;
  color: white;
  align-self: flex-end;
} */

.sent {
  background-color: #268d91;
  color: white;
  align-self: flex-end;
  /* border-bottom-right-radius: 3px; */
}
/* .sent::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 10px;
  background-color: #268d91;
  clip-path: polygon(100% 0, 0 0, 0 100%);
} */
.chat-footer {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: white;
  /* border: 1px solid #ddd; */
  position: relative;
  bottom: 0;
  /* width: 98%; */
}
.chat-footer input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  background-color: #f1e5e5;
}

.uploadImg {
  position: absolute;
  right: 63px;
  top: 10px;
  font-size: 14px;
  /* background-color: #00796b; */
  background-color: #bdece7;
  padding: 10px 11px;
  border-radius: 50%;
}

.disabledbutton {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.chat-footer button {
  background-color: #268d91;
  color: white;
  border: none;
  padding: 10px 11px;
  border-radius: 50%;
  margin-left: 10px;
}

/* ---------------  chat support ------------------ */

/* ---------------  Passbook ------------------ */

.passbook-title {
  font-size: 12px;
  margin-top: 6px;
  font-weight: bold;
}

/* ---------------  Passbook ------------------ */

/* ---------------  Bid Hostory Title ------------------ */

.history-title {
  background-color: var(--Root-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0px;
  width: -100%;
  padding: 3px;
  border: 1px solid var(--Root-color);
}

.history-title span {
  color: white;
}

.manage-id {
  white-space: normal;
  word-break: break-all;
  width: 123px;
  font-size: 12px;
  text-align: center;
}

/* ---------------  Bid Hostory Title ------------------ */

/* ---------------  Game Result History ------------------ */
/* CSS for flexbox alignment */
.date-picker-container {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Align items to the left */
}
.date-picker-container i {
  font-size: 20px; /* Size for the calendar icon */
  margin-right: 8px; /* Space between the icon and the input field */
}
.date-input {
  width: 120px; /* Width for the date input */
  /* padding: 5px; */
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--Root-color);
  outline: #000000;
  background-color: var(--Root-color); /* Light gray background */
  color: white; /* Dark text color */
}
.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This will change the icon to a white color */
  color: white; /* This will change the icon's background */
}
.game-result-left {
  background-color: var(--Root-color);
  border-radius: 50rem 0 0 50rem;
  text-align: center;
  color: white;
  font-weight: bold;
}
.rightside {
  margin-top: 50px;
}
.game-result-right {
  color: var(--Root-color);
  text-align: center;
}
.game-result-card {
  margin-top: 10px;
  position: sticky;
  top: 90px;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* border: 2px solid var(--Root-color) !important; */
}
/* ---------------  Game Result History ------------------ */

/* ---------------  fund request History ------------------ */

.fund-request-card {
  border: 2px solid var(--Root-color);
  display: flex;
  /* width: 90%; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.bold-font {
  font-weight: 600;
}
/* ---------------  fund request History ------------------ */

/* ---------------  GAME TYPE DASHBOARD ------------------ */

.custom-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.custom-input input {
  border: none;
  background: transparent;
  text-align: center;
  outline: none;
  width: 100%;
}

.dashboard-primary-button {
  background-color: var(--Root-color) !important;
  color: white !important;
  border-radius: 2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  outline: none;
  /* position: absolute; */
  /* bottom: 90px; */
  margin-left: 10px;
  /* margin-top: 80px; */
  width: 96%;
  left: 2%;
}

/* ---------------  GAME TYPE DASHBOARD ------------------ */

/* ---------------  GAME TYPE DASHBOARD 2 ------------------ */

.set-buttons {
  position: absolute;
  width: 95%;
  bottom: -100px;
}
/* ---------------  GAME TYPE DASHBOARD 2 ------------------ */

/* ---------------  MPIN CONTAINER ------------------ */

.mpin-container {
  width: 300px;
}
.mpin-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 15px;
}
.icon-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #8eb6bb;
}
.change-mpin {
  background-color: var(--Root-color);
}
.forget-mpin {
  background-color: var(--Root-color);
}

/* ---------------  MPIN CONTAINER ------------------ */

.icon-color {
  color: var(--Root-color);
}
.go4109123758 {
  font-size: 12px !important;
  font-weight: bold;
}
/* modal.... */
.notify-bell-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.notify-bell-icon {
  font-size: 24px;
  color: #fff;
}

.notify-bell-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
}
.box321 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

.grid321 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  padding: 5px;
}

.grid-item321 {
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
}
.newdiv321 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.gameprice {
  color: var(--Root-color);
  text-align: center;
}
.icon-grid-containerjackpot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  /* background-color: #f6f7f9; */
}
.andarbaharconatiner {
  background-color: white;
  color: var(--Root-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.andarbahartext {
  border-radius: 10px;
  width: 100px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 5px;
}
.andarbahardivider {
  border-bottom: 2px solid black;
}

.cursor-pointer {
  font-size: 1.2rem !important;
}

.center-modal {
  text-align: center;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.fist-title {
  color: var(--Root-color);
  font-size: 12px;
}
.second-title {
  color: var(--Root-color);
  font-size: 11px;
  font-weight: 600;
  margin: 0 !important;
}

.buttom-title {
  color: var(--Root-color);
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

.modal-footer > * {
  margin: 0 !important;
}

.modal-body {
  padding: 0 12px !important;
}

.bid-table tr {
  font-size: 10px;
  text-align: center;
}

.fa-coins {
  color: #ffd700;
}

.betting-card {
  /* border: 2px solid green; */
  border-radius: 10px;
  padding: 4px 15px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.betting-time {
  font-weight: bold;
  color: #007b8f;
  font-size: 0.8rem;
}

.play-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #227e87;
  color: white;
  border-radius: 50%;
  padding: 8px 10px;
}

.masked-code {
  /* margin: 10px 0; */
  font-size: 1rem;
  color: black;
}

.status-text {
  color: green;
  font-weight: 500;
  font-size: 0.7rem;
}

.tab-list-card {
  justify-content: center !important;
}
