.form-box12 {
    padding: 20px;
    border-radius: 12px;
    width: 100%;
  }
  
  .form-group12 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: center;
    gap: 10px;
  }
  .addmore12 {
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
    background-color: var(--Root-color);
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .tabletype12 {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .tabletext12 {
    font-size: 16px;
    font-weight: 500;
    color: var(--Root-color);
  }
  .divider12 {
    border-bottom: 1px solid black;
  }
  .form-group12 label {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
    color: #4a4a4a;
  }
  .form-group12 select {
    width: 60%;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 11px;
    font-weight: 700;
    color: #333;
    border: none;
    outline: none;
    appearance: none;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/svg/select-arrow.svg");
    background-position: right 12px center;
    background-size: 30px;
    background-color: #fff;
  }
  
  .form-group12 input[type="text"] {
    width: 60%;
    padding: 10px 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    border: none;
  
    color: #333;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .info12 {
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #000;
  }
  .infosum12 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infotext12 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .submit-button12 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    background-color: var(--Root-color);
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .submit-button12:hover {
    background-color: #146060;
  }