/* Grid container */
.icon-grid-container11 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background-color: #f6f7f9;
  padding: 1px 10px;
}

/* Icon card box */
.icon-card {
  background-color: white;
  border-radius: 20px;
  padding: 21px 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Unified icon container */
.icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 10px;
}

/* Just background-image definitions */
.single-digit         { background-image: url("../../assets/svgs/gaming/singledigit.svg"); }
.single-digit-bulk    { background-image: url("../../assets/svgs/gaming/singledigitbuk.svg"); }
.single-pana          { background-image: url("../../assets/svgs/gaming/singlepana.svg"); }
.single-pana-bulk     { background-image: url("../../assets/svgs/gaming/singlepanabulk.svg"); }
.double-pana          { background-image: url("../../assets/svgs/gaming/doublepana.svg"); }
.double-pana-bulk     { background-image: url("../../assets/svgs/gaming/doublepanabulk.svg"); }
.triple-pana          { background-image: url("../../assets/svgs/gaming/triplepana.svg"); }
.triple-pana-bulk     { background-image: url("../../assets/svgs/gaming/triplepanabulk.svg"); }
.sp-motor             { background-image: url("../../assets/svgs/gaming/spmotor.svg"); }
.dp-motor             { background-image: url("../../assets/svgs/gaming/dpmotor.svg"); }
.odd-even             { background-image: url("../../assets/svgs/gaming/odd_even.svg"); }
.two-digit-panel      { background-image: url("../../assets/svgs/gaming/twodigitpanel.svg"); }
.sp-dp-tp             { background-image: url("../../assets/svgs/gaming/spdptp.svg"); }
.red-bracket          { background-image: url("../../assets/svgs/gaming/redbracket.svg"); }
.digit-based-jodi     { background-image: url("../../assets/svgs/gaming/digitbasedjackpot.svg"); 
}
.choice-pana          { background-image: url("../../assets/svgs/gaming/choicepana.svg"); }
.panel-group          { background-image: url("../../assets/svgs/gaming/panelgroup.svg"); }
.half-sangam          { background-image: url("../../assets/svgs/gaming/halfsangam.svg"); }
.full-sangam          { background-image: url("../../assets/svgs/gaming/fullsangam.svg"); }
.jodi-group           { background-image: url("../../assets/svgs/gaming/groupjodi.svg"); }
.jodi-digit           { background-image: url("../../assets/svgs/gaming/jodidigit.svg"); }
.jodi-digit-bulk           { background-image: url("../../assets/svgs/gaming/jodidigitbulk.svg"); }


/* Label text */
.icon-label-main {
  font-size: 11px;
  font-weight: 500;
  color: #333;
}
